# requirements.txt

# Core ML & Medical Imaging
monai>=1.1
torchio>=0.15
scikit-learn>=1.2.2
shap>=0.43

# Data Handling & Scientific Computing
numpy>=1.24
pandas>=1.5.3
scipy>=1.10
nibabel>=5.0

# Utilities & Others
icecream
tqdm>=4.62
wandb
matplotlib>=3.7.2
